/* GENERALES */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.container{
    width: 100%;
    max-width: 1000px;
    padding: 40px 20px;
    margin: auto;
    display: flex;
}

:root {
    --bg-texto: #2D2D2D; 
    --strokes-texto: #ECE2D8;
    --shader-img: #706C68;
    --bg-black: #101010;
}

body{
    background-color: #101010;
}

/* NO BORDERS */

.brd-left-no{
    border-left: 0 !important;
}

/* BTN - HOVER */

.btn1:hover, .btn2:hover{
    background-color: var(--bg-black);
    color: var(--strokes-texto);
    border: 1px solid var(--strokes-texto);
}

.btn3:hover{
    background-color: var(--strokes-texto);
    color: var(--bg-black);
    border: 1px solid var(--strokes-texto);
}

/* NAVBAR */

.navbar-container{
    background-color: #101010;
    width: 100%;
    border-bottom: 2px solid var(--strokes-texto);
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--strokes-texto);
    margin: auto;
}
  
.logo-container{
    max-width: 80px;
    margin-left: 30px;
}

.logo-container img{
    width: 100%;
    padding-top: 5px;
}

.nav-list ul{
    height: 60px;
    display: flex;
}

.nav-list ul li{
    list-style-type: none;
    width: 155px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px solid var(--strokes-texto);
    border-top: none;
    border-bottom: none;
    border-right: none;
    cursor: pointer;
    
}

.nav-list ul li:hover{
    background-color: var(--strokes-texto);
    color: var(--bg-texto);
}

.active{
    background-color: var(--strokes-texto);
    color: var(--bg-texto);
}

/* HERO */

.hero-container{
    width: 100%;
    height: 90vh;
    border-bottom: 1px solid var(--strokes-texto);
}

.bg-image{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    url(../img/bg-hero.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.hero{
    max-width: 800px;
    flex-direction: column;
    align-items: center;
    color: var(--strokes-texto);
}

.hero h1{
    font-size: 120px;
    margin-top: 60px;
    text-shadow: 0px 5px rgba(0, 0, 0, 0.5);
    letter-spacing: 5px;
}

.hero h2{
    font-size: 24px;
    letter-spacing: 2px;
    text-shadow: 0px 2px rgba(0, 0, 0, 0.5);
    margin-top: -15px;
}

.hero p{
    font-style: italic;
    font-size: 30px;
    text-align: center;
    margin-top: 60px;
}

.btn1{
    color: var(--bg-texto);
    background-color: var(--strokes-texto);
    width: 100%;
    border: none;
    font-size: 24px;
    padding: 15px;
    margin-top: 60px;
    cursor: pointer;
}

/* INICIO 2ND SECTION */

.s2-inicio-container{
    margin-top: 60px;
}

.bg2-image{
    background-image: url(../img/bg-2nd.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 1px solid var(--strokes-texto);
    border-top: 1px solid var(--strokes-texto);
}

.section-2-container{
    display: flex;
    max-width: 90%;
    margin-left: auto;
    color: var(--strokes-texto);
}

.section-2-info{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 120px 0;
    justify-content: space-around;
}

.section-2-info h2{
    font-size: 40px;
    text-align: center;
    text-shadow: 0px 3px rgba(0, 0, 0, 0.5);
}

.section-2-info p{
    font-style: italic;
    text-align: center;
    font-size: 22px;
}

.button-inicio-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0 20px;
}

.btn2{
    color: var(--bg-texto);
    background-color: var(--strokes-texto);
    border: 1px solid var(--strokes-texto);
    font-size: 24px;
    padding: 15px;
    width: 100%;
    cursor: pointer;
}

.btn3{
    color: var(--strokes-texto);
    background-color:#101010;
    border: 1px solid var(--strokes-texto);
    font-size: 24px;
    padding: 15px;
    width: 100%;
    cursor: pointer;
}

.section-2-images{
    display: flex;
    flex-direction: column;
    width: 600px;
    margin-left: auto;
}

.section-2-img-1{
    display: flex;
    width: 100%;
}

.section-2-img-1 img{
    max-width: 300px;
}

.section-2-img-2{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.section-2-img-2 img{
    max-width: 300px;
}

/* 2DA SECCION */

/* CONSTRUCCIONES */

.construcciones-container{
    width: 100%;
}

.title{
    font-size: 40px;
    text-align: center;
    color: var(--strokes-texto);
    margin: 40px;
}

.proyectos-container{
    display: flex;
    width: 70%;
    height: 700px;
    margin: auto;
    margin-bottom: 40px;
    border: 1px solid var(--strokes-texto);
}

.proyectos-lista{
    width: 500px;
}

.proyecto-nombre{
    width: 100%;
    color: var(--strokes-texto);
    border: 1px solid var(--strokes-texto);
    display: flex;
    flex-direction: column;
}

.proyecto-nombre h3{
    font-size: 43px;
    margin: 20px ;
    width: 80%;
}

.proyecto-nombre h3 span{
    font-size: 45px;
}

#arrow-img{
    width: 50px;
    margin-left: auto;
    margin-right: 20px;
    margin-bottom: 20px;
}

.proyectos-info{
    display: flex;
    flex-direction: column;
    max-width: 700px;
}

.imagenes-proyecto-container{
    display: flex;
    width: 100%;
    background-color: var(--strokes-texto);
    gap: 2px;
    max-height: 441px;
}

.imagen-principal-container{
    max-width: 400px;
}

.imagen-principal-container img{
    width: 100%;
}

.imagenes-secundarias-container{
    max-width: 298px;
}

.imagenes-secundarias-container img{
    width: 100%;
    height: 144px;
}

.info-proyecto-container{
    display: flex;
    flex-direction: column;
    color: var(--strokes-texto);
    padding-right: 10px;
}

.info-proyecto-container h4{
    font-size: 40px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.info-proyecto-container p{
    margin-top: 5px;
}


/* 3ER SECTION */
/* SERVICIOS */

.servicios-info-container{
    display: flex;
    flex-direction: column;
    width: 70%;
    /*height: 700px;*/
    margin: auto;
    margin-bottom: 40px;
    color: var(--strokes-texto);
}

.servicios-navbar{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.servicios-navbar li{
    list-style-type: none;
    border: 2px solid var(--strokes-texto);
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.servicios-navbar li:hover{
    background-color: var(--strokes-texto);
    color: var(--bg-texto);
}

.servicios-info{
    border: 2px solid var(--strokes-texto);
    border-top: none;
    padding: 30px;
}

.demoliciones-info, .movimientos-info, .excavaciones-info{
    display: flex;
    gap: 20px;
    align-items: center;
}

.info-left{
    display: flex;
    flex-direction: column;  
    width: 60%;  
}

.info-left-img-demoliciones{
    max-width: 535px;
    max-height: 400px;
    height: 400px;
    width: 535px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/demoliciones1.png);
    position: relative;
}

.info-right-img-demoliciones{
    max-width: 440px;
    max-height: 620px;
    height: 620px;
    width: 440px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/demoliciones2.png);
    position: relative;
}

.info-left-img-movimientos{
    max-width: 535px;
    max-height: 400px;
    height: 400px;
    width: 535px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/movimientos1.png);
    border: 1px solid var(--strokes-texto);
}

.info-right-img-movimientos{
    max-width: 440px;
    max-height: 620px;
    height: 620px;
    width: 440px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/movimientos2.png);
    border: 1px solid var(--strokes-texto);
}

.info-left-img-excavaciones{
    max-width: 535px;
    max-height: 400px;
    height: 400px;
    width: 535px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/excavaciones1.png);
    border: 1px solid var(--strokes-texto);
}

.info-right-img-excavaciones{
    max-width: 440px;
    max-height: 620px;
    height: 620px;
    width: 490px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/excavaciones2.jpg);
    border: 1px solid var(--strokes-texto);
}

.info-text-left p{
    margin-top: 15px;
    line-height: 23px;
}

.servicios-text{
    background-color: var(--strokes-texto);
    font-size: 50px;
    padding: 70px 0;
    margin-top: 80px;
}

.servicios-text p{
    width: 60%;
    margin: auto;
    text-align: center; 
}


/* FOOTER */

footer{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    border-top: 2px solid var(--strokes-texto);
    color: var(--strokes-texto);
    padding: 30px;
    gap: 30px;
}

.orza-info, .copy-info{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    font-size: 16px;
}

.noob-info{
    display: flex;
    align-items: center;
    gap: 2px;
}

.hide{
    display: none;
}

