/* GENERALES */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
}
.container {
  width: 100%;
  max-width: 1000px;
  padding: 40px 20px;
  margin: auto;
  display: flex;
}

:root {
  --bg-texto: #2d2d2d;
  --strokes-texto: #ece2d8;
  --shader-img: #706c68;
  --bg-black: #101010;
}

body {
  background-color: #101010;
}

/* NO BORDERS */

.brd-left-no {
  border-left: 0 !important;
}

.brd-top-no {
  border-top: 0 !important;
}

/* BTN - HOVER */

.btn1:hover,
.btn2:hover {
  background-color: var(--bg-black);
  color: var(--strokes-texto);
  border: 1px solid var(--strokes-texto);
}

.btn3:hover,
.form-button:hover {
  background-color: var(--strokes-texto);
  color: var(--bg-black);
  border: 1px solid var(--strokes-texto);
}

/* NAVBAR */

.navbar-container {
  background-color: #101010;
  width: 100%;
  border-bottom: 2px solid var(--strokes-texto);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--strokes-texto);
  margin: auto;
}

.logo-container {
  max-width: 80px;
  margin-left: 30px;
}

.logo-container img {
  width: 100%;
  padding-top: 5px;
}

.nav-list ul {
  height: 60px;
  display: flex;
}

.nav-list ul li {
  list-style-type: none;
  width: 155px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 2px solid var(--strokes-texto);
  border-top: none;
  border-bottom: none;
  border-right: none;
  cursor: pointer;
}

.nav-list ul li:hover {
  background-color: var(--strokes-texto);
  color: var(--bg-texto);
}

.active {
  background-color: var(--strokes-texto);
  color: var(--bg-texto);
}

/* BURGER BAR */

/* Ocultar el menú de navegación y mostrar el menú hamburguesa en pantallas pequeñas */
.hamburger-menu {
  display: none;
  font-size: 24px;
  cursor: pointer;
  margin-right: 20px;
}

.nav-list {
  display: flex;
}

.nav-list ul {
  display: flex;
}

@media (max-width: 900px) {
  .hamburger-menu {
    display: block; /* Mostrar menú hamburguesa */
  }

  .nav-list {
    display: none; /* Ocultar la lista */
    flex-direction: column;
    width: 100%;
    background-color: #101010;
    position: absolute;
    top: 53px;
    left: 0;
    z-index: 1000;
  }

  .nav-list ul {
    flex-direction: column; /* Cambiar la orientación de los elementos */
  }

  .nav-list ul li {
    width: 100%;
    border-right: none;
    border-left: none;
    cursor: pointer;
  }

  .nav-list ul li:hover {
    background-color: var(--strokes-texto);
    color: var(--bg-texto);
  }

  .nav-list.open {
    display: flex; /* Mostrar la lista cuando el menú esté abierto */
    height: 100px;
  }
}

/* HERO */

.hero-container {
  width: 100%;
  height: 90vh;
  border-bottom: 1px solid var(--strokes-texto);
}

.bg-image {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/bg-hero.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero {
  max-width: 800px;
  flex-direction: column;
  align-items: center;
  color: var(--strokes-texto);
}

.hero h1 {
  font-size: 120px;
  margin-top: 60px;
  text-shadow: 0px 5px rgba(0, 0, 0, 0.5);
  letter-spacing: 5px;
}

.hero h2 {
  font-size: 24px;
  letter-spacing: 2px;
  text-shadow: 0px 2px rgba(0, 0, 0, 0.5);
  margin-top: -15px;
}

.hero p {
  font-style: italic;
  font-size: 30px;
  text-align: center;
  margin-top: 60px;
}

.btn1 {
  color: var(--bg-texto);
  background-color: var(--strokes-texto);
  width: 100%;
  border: none;
  font-size: 24px;
  padding: 15px;
  margin-top: 60px;
  cursor: pointer;
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  animation: expandWidth 1.5s ease-in-out forwards;
}
/* APARICION DE SECCIONES */

/* INICIO 2ND SECTION */

.s2-inicio-container {
  margin-top: 60px;
}

.bg2-image {
  background-image: url(../img/bg-2nd.webp);
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 1px solid var(--strokes-texto);
  border-top: 1px solid var(--strokes-texto);
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}
.bg2-image.visible {
  opacity: 1;
  transform: translateY(0);
}
.section-2-container {
  overflow: hidden;
  position: relative;
  display: flex;
  max-width: 90%;
  margin-left: auto;
  color: var(--strokes-texto);
  transition: transform 1s ease-out;
}

.section-2-info {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 120px 0;
  justify-content: space-around;
}

.section-2-info h2 {
  font-size: 40px;
  text-align: center;
  text-shadow: 0px 3px rgba(0, 0, 0, 0.5);
}

.section-2-info p {
  font-style: italic;
  text-align: center;
  font-size: 22px;
}

.button-inicio-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 0 20px;
}

.btn2 {
  color: var(--bg-texto);
  background-color: var(--strokes-texto);
  border: 1px solid var(--strokes-texto);
  font-size: 24px;
  padding: 15px;
  width: 100%;
  cursor: pointer;
}

.btn3 {
  color: var(--strokes-texto);
  background-color: #101010;
  border: 1px solid var(--strokes-texto);
  font-size: 24px;
  padding: 15px;
  width: 100%;
  cursor: pointer;
}

.section-2-images {
  display: flex;
  flex-direction: column;
  width: 600px;
  margin-left: auto;
}

.section-2-img-1 {
  display: flex;
  width: 100%;
}
.section-2-img-1,
.section-2-img-2 {
  position: relative;
  opacity: 0;
  transform: translateX(100vw); /* Totalmente fuera sin generar scroll */
  transition: transform 1s ease-out, opacity 1s ease-out;
}
.section-2-img-1.animate-in,
.section-2-img-2.animate-in {
  opacity: 1;
  transform: translateX(0);
}
.section-2-img-1 img {
  max-width: 300px;
}

.section-2-img-2 {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.section-2-img-2 img {
  max-width: 300px;
}

/* 2DA SECCION */

/* CONSTRUCCIONES */

.construcciones-container {
  width: 100%;
}

.title {
  font-size: 40px;
  text-align: center;
  color: var(--strokes-texto);
  margin: 40px;
}

.proyectos-container {
  display: flex;
  max-width: 1200px;
  max-height: 700px;
  margin: auto;
  margin-bottom: 60px;
  border: 1px solid var(--strokes-texto);
  opacity: 0;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.proyectos-lista {
  width: 500px;
  overflow: hidden;
}

.proyecto-nombre {
  width: 100%;
  color: var(--strokes-texto);
  border: 1px solid var(--strokes-texto);
  display: flex;
  flex-direction: column;
  height: 165px;
  justify-content: center;
  position: relative;
  cursor: pointer;
}

.proyecto-nombre h3 {
  font-size: 38px;
  margin: 20px;
  width: 80%;
}

.proyecto-nombre h3 span {
  font-size: 45px;
}

.arrow-img {
  width: 50px;
  position: absolute;
  left: 85%;
  bottom: 10%;
}

.proyectos-info {
  display: flex;
  flex-direction: column;
  max-width: 700px;
}

.imagenes-proyecto-container {
  display: flex;
  max-width: 700px;
  width: 700px;
  background-color: var(--strokes-texto);
  gap: 2px;
  max-height: 450px;
  height: 450px;
  background-size: cover;
  background-repeat: no-repeat;
}

.proyecto-burela {
  background-image: url(../img/burela-full.webp);
}

.proyecto-virreyloreto {
  background-image: url(../img/virreyloreto-full.webp);
}

.proyecto-aviles {
  background-image: url(../img/aviles-full.webp);
}

.proyecto-zabala {
  background-image: url(../img/zabala-full.webp);
}

.info-proyecto-container {
  display: flex;
  flex-direction: column;
  color: var(--strokes-texto);
  padding: 5px 15px;
  overflow: hidden;
}

.info-proyecto-container h4 {
  font-size: 40px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.info-proyecto-container p {
  margin-top: 5px;
}

.proyecto-active {
  background-color: var(--strokes-texto);
  color: var(--bg-texto);
}

/* 3ER SECTION */
/* SERVICIOS */

.servicios-info-container {
  display: flex;
  flex-direction: column;
  width: 70%;
  /*height: 700px;*/
  margin: auto;
  margin-bottom: 40px;
  color: var(--strokes-texto);
  opacity: 0;
  transition: opacity 0.5s ease;
}

.servicios-navbar {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.servicios-navbar li {
  list-style-type: none;
  border: 2px solid var(--strokes-texto);
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.servicios-navbar li:hover {
  background-color: var(--strokes-texto);
  color: var(--bg-texto);
}

.servicios-info {
  border: 2px solid var(--strokes-texto);
  border-top: none;
  padding: 30px;
}

.demoliciones-info,
.movimientos-info,
.excavaciones-info {
  display: flex;
  gap: 20px;
  align-items: center;
}

.info-left {
  display: flex;
  flex-direction: column;
  width: 60%;
  align-items: center;
}

.info-left-img-demoliciones {
  max-width: 535px;
  max-height: 400px;
  height: 400px;
  width: 535px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/demoliciones1.webp);
  position: relative;
}

.info-right-img-demoliciones {
  max-width: 440px;
  max-height: 620px;
  height: 620px;
  width: 440px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/demoliciones2.webp);
  position: relative;
}

.info-left-img-movimientos {
  max-width: 535px;
  max-height: 400px;
  height: 400px;
  width: 535px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/movimientos1.webp);
  border: 1px solid var(--strokes-texto);
}

.info-right-img-movimientos {
  max-width: 440px;
  max-height: 620px;
  height: 620px;
  width: 440px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/movimientos2.webp);
  border: 1px solid var(--strokes-texto);
}

.info-left-img-excavaciones {
  max-width: 535px;
  max-height: 400px;
  height: 400px;
  width: 535px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/excavaciones1.webp);
  border: 1px solid var(--strokes-texto);
}

.info-right-img-excavaciones {
  max-width: 440px;
  max-height: 620px;
  height: 620px;
  width: 490px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/excavaciones2.webp);
  border: 1px solid var(--strokes-texto);
}

.info-text-left p {
  margin-top: 15px;
  line-height: 23px;
}

.servicios-text {
  background-color: var(--strokes-texto);
  font-size: 50px;
  padding: 70px 0;
  margin: 80px 0;
}

.servicios-text p {
  width: 60%;
  margin: auto;
  text-align: center;
}

/* POP UP SERVICIOS */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 60%;
  max-width: 500px;
  text-align: center;
  position: relative;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  cursor: pointer;
}

/* 4TA SECCION */
/* TRABAJOS REALIZADOS */

.collapsable-list {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto;
  margin-bottom: 40px;
  color: var(--strokes-texto);
  align-items: center;
  border: 1px solid var(--strokes-texto);
  opacity: 0;
}

.item-container {
  width: 100%;
}

.year-container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  padding: 10px;
  width: 100%;
  border-top: 1px solid var(--strokes-texto);
  cursor: pointer;
}

.year-container:hover {
  background-color: var(--strokes-texto);
  color: var(--bg-black);
}

.year-answer {
  background-image: url(../img/bg-hero-2.webp);
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s linear;
}

.year-answer.show {
  transition: max-height 0.5s linear;
}
.trabajo-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 240px;
}

.trabajo-container h3 {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 18px;
  letter-spacing: 1px;
}

.trabajo-direccion {
  font-size: 16px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.trabajo-descripcion {
  font-size: 14px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.trabajos-second-section {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto;
  color: var(--strokes-texto);
  gap: 20px;
  margin-top: 60px;
  margin-bottom: 60px;
  opacity: 0;
}

.trabajos-second-container {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  align-items: center;
}
.trabajos-second-container {
  opacity: 0;
  transform: translateY(-50px); /* Inicia fuera de la vista */
  animation: slideIn 1s forwards;
}

.trabajos-second-container:nth-child(1) {
  animation-delay: 0.5s;
}

.trabajos-second-container:nth-child(2) {
  animation-delay: 0.8s;
}

.trabajos-second-container:nth-child(3) {
  animation-delay: 1.1s;
}
.trabajos-second-container:nth-child(4) {
  animation-delay: 1.4s;
}
.trabajos-second-container:nth-child(5) {
  animation-delay: 1.7s;
}
.trabajos-second-container:nth-child(6) {
  animation-delay: 2s;
}

@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.trabajos-second-container div {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 10px;
  background-size: cover;
  background-position: center;
  transition: filter 0.3s ease;
}

.trabajos-second-container div:hover {
  filter: brightness(1.5);
}

.construccion-burela {
  background-image: url(../img/burela-trabajos.webp);
}

.demolicion-elcano {
  background-image: url(../img/elcano-trabajos.webp);
}

.construccion-aviles {
  background-image: url(../img/aviles-trabajos.webp);
}

.excavacion-construye {
  background-image: url(../img/construye-trabajos.webp);
}

.construccion-loreto {
  background-image: url(../img/loreto-trabajos.webp);
}

.demolicion-realtor {
  background-image: url(../img/realtor-trabajos.webp);
}

/* 5TA SECCION */
/* SOBRE NOSOTROS */

.sobrenosotros-container {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto;
  margin-bottom: 40px;
  color: var(--strokes-texto);
  align-items: center;
}

.nosotros-container {
  display: flex;
  gap: 16px;
  margin-bottom: 40px;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.nosotros-left {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  width: 100%;
}

.nosotros-left p {
  font-size: 26px;
  line-height: 70px;
}

.nosotros-left-img {
  background-image: url(../img/nosotros1.webp);
  width: 298px;
  height: 355px;
  background-size: cover;
  background-position: center;
  border: 1px solid var(--strokes-texto);
}

.nosotros-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.images-nosotros-right {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 5px;
}

.nosotros-right-img1,
.nosotros-right-img2 {
  width: 100%;
  height: 163px;
  background-size: cover;
  background-position: center;
  max-width: 366px;
}

.nosotros-right-img1 {
  background-image: url(../img/nosotros2.webp);
  border: 1px solid var(--strokes-texto);
}

.nosotros-right-img2 {
  background-image: url(../img/nosotros3.webp);
  border: 1px solid var(--strokes-texto);
}

.text-right {
  margin: 20px 0px;
  color: var(--strokes-texto);
}

.text-right p {
  font-size: 22px;
  line-height: 50px;
}

.extra-rigth-container {
  display: flex;
  background-color: var(--strokes-texto);
  color: var(--bg-black);
  width: 100%;
  padding: 40px 20px;
  justify-content: space-between;
  align-items: center;
}

.extra-rigth-container h4 {
  font-size: 48px;
}

.extra-rigth-container p {
  font-size: 18px;
  font-family: "Montserrat", serif;
  font-weight: 500;
  font-style: normal;
}

/* EMPRESAS COLABORATIVAS */
.empresas-container {
  width: 100%;
  background-color: #252525;
}

.empresas-container h3 {
  color: var(--strokes-texto);
  font-size: 32px;
  padding: 20px;
  border-bottom: 1px solid var(--strokes-texto);
  border-top: 1px solid var(--strokes-texto);
}

.carousel {
  padding: 40px;
  position: relative;
  width: 100%;
  height: fit-content;
  overflow: hidden;
  margin-bottom: 20px;
  opacity: 0;
}

.carousel-track {
  display: flex;
  width: max-content;
  animation: scroll 200s linear infinite;
  gap: 120px;
}

.carousel img {
  width: 134px;
  height: 61px;
  object-fit: cover;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* SOBRE NOSOTROS - FORM */
.contacto-form-2 {
  width: 70%;
  display: flex;
  flex-direction: column;
  margin: auto;
}
.contacto-form {
  width: 70%;
  display: flex;
  flex-direction: column;
  margin: auto;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}
.contacto-form.visible {
  opacity: 1;
  transform: translateY(0);
}
.contacto-form-container {
  display: flex;
  margin: auto;
  color: var(--strokes-texto);
  gap: 20px;
  margin-bottom: 40px;
  width: 100%;
}

.form-container {
  width: 100%;
  margin-top: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input {
  height: 50px;
  background-color: var(--bg-texto);
  color: var(--strokes-texto);
  border: 1px solid var(--strokes-texto);
  padding: 16px 8px;
}

textarea {
  background-color: var(--bg-texto);
  color: var(--strokes-texto);
  border: 1px solid var(--strokes-texto);
  padding: 16px 8px;
  height: 150px;
}

.orza-info-contacto {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  justify-content: center;
}

.orza-info-contacto div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-button {
  background-color: var(--bg-black);
  color: var(--strokes-texto);
  border: 1px solid var(--strokes-texto);
  font-size: 24px;
  padding: 15px;
  width: 50%;
  margin: auto;
  margin-top: 20px;
  cursor: pointer;
}

/* FOOTER */

footer {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  border-top: 2px solid var(--strokes-texto);
  color: var(--strokes-texto);
  padding: 30px;
  gap: 30px;
}

.orza-info,
.copy-info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  font-size: 16px;
}

.noob-info {
  display: flex;
  align-items: center;
  gap: 2px;
}

.hide {
  display: none;
}

/*---------------ANIMATIONS----------*/
.counters {
  width: 100%;
  display: flex;

  flex-wrap: wrap;
  justify-content: space-around;
}

.counter {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  padding-right: 1.5rem;
  font-style: normal;
  transition: all 0.5s;
  position: relative;
}
.counter:not(:last-child)::before {
  content: "";
  position: absolute;
  width: 2px;
  top: 50%;
  transform: translateY(-50%);
}
.bg-image {
  opacity: 0;
  animation: fadeIn 1.5s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes expandWidth {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
.section-2-img-1,
.section-2-img-2 {
  position: relative;
  opacity: 0;
  transform: translateX(100%);
  transition: transform 1s ease-out, opacity 1s ease-out;
}

.section-2-img-1.animate-in,
.section-2-img-2.animate-in {
  opacity: 1;
  transform: translateX(0);
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
